 {{> footer}}
<div class="container py-5 h-100 fade-in" style="min-width: 1000px;">
    <div class="row  h-100">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px; width: 30rem;">
                <div class="card-body d-flex flex-column justify-content-center align-items-center py-5">
{{!--                     <img class="mb-4 w-75" src="/images/horizontal-negro.svg" alt="logo"> --}}
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Login</h3>
                    <form class="col-10" action="/login" method="POST">
                        <div class="row">
                            <div class="mb-4">
                                <div>
                                    <input type="text" name="email"
                                        class="form-control {{#if errorMessage}}is-invalid{{/if}}"
                                        placeholder="Email" />
                                </div>
                            </div>
                        </div>

                        <div class="mb-4 input-group">
                            <input type="password" name="password"
                                class="form-control {{#if errorMessage}}is-invalid{{/if}}"
                                placeholder="Password" />
                            <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
                                <i class="fa fa-eye-slash fa-fw"></i>
                            </button>
                        </div>
                        {{#if errorMessage}}
                        <div class="text-danger text-small mb-2">
                            {{errorMessage}}
                        </div>
                        {{/if}}
                        <div class="mt-4 pt-2 d-flex justify-content-center aling-items-center">
                            <input class="btn btn-primary btn-lg" type="submit" value="Login" />
                        </div>
                        <p class="text-center" style="margin: 50px 0px 0px;">
                            <a href="/register" style="text-decoration: none; color: black; font-size: 20px;">Don't have an account?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>