<div class="container py-5 h-100" style="min-width: 1000px;">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
                <div class="card-body p-4 p-md-5">
                    <img src="/images/horizontal-negro.svg" alt="logo">
                    <hr>
                    <div class="d-flex row justify-content-center">
                         <a class="btn btn-block" href="/login/google">
                            <i class="fa fa-google"></i> Login with Google
                        </a>
                        <a class="btn btn-block" href="/auth/github">
                            <i class="fa fa-github"></i> Login with Github
                        </a>
                        <a class="btn btn-block" href="/login">
                            <i class="fa fa-envelope"></i> Login with email
                        </a>
                    </div>
                    </form>
                </div>
        </div>
    </div>