<nav>
  <div class="nav-left">
    <ul>
      <li><a href="/"><img src="images/vertical-negro.svg" alt="logo" class="nav-logo"></a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="/developers">Developers</a></li>
    </ul>
  </div>
  <div class="nav-right">
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/user" class="nav-user-logo"><i class="fa-solid fa-user-large"></i></a></li>
    </ul>
  </div>
</nav>