<div class="container d-flex justify-content-center align-items-center m-0 p-0">
    <div class="row d-flex justify-content-center align-items-center" >
        <div class="col-4" style="z-index: 1;">
            <h2 class="fs-1">Oh sorry! 🙁</h2>
            <p class="fs-4">You must be logged in to access. </p>
            <div class="mt-4">
                <a class="btn btn-dark" href="/">Back to home</a>
                <a class="btn btn-outline-dark" href="/loginSelection">Go directly to login</a>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center mx-3">
            <video playsinline autoplay muted loop autoplay>
                <source src="https://assets-global.website-files.com/5bcb46130508ef456a7b2930/5d05f4b95b891603d2c14b6b_drawkit-grape-pack-illustration-2-transcode.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>