<script src="https://cdn.tiny.cloud/1/tz1i6w9ceg9fdj6gffn3qptanjx01mzw0pdbp5g0grdv2v0g/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
    <link rel="stylesheet" href="/styles/registerForm.css">

{{> footer}}

<section style="background-color: rgb(247, 247, 247); width: 100vw; height: 150vh;">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-10">
                <div class="card" style="border-radius: 25px;">
                    <div class="card-body row p-md-5">
                        <div class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom: -1rem;">
                            
                            <h2 class="mb-4 fade-in">Let's create a project</h2>

                            <div style="text-align:center; margin-top: -0.7rem;">
                                <span class="step"></span>
                                <span class="step"></span>
                            </div>

                        </div>

                        <div class="col-6 fade-in p-0 mw-75 d-flex flex-column justify-content-center align-items-center">
                            <div class="row">
                                <form id="regForm" action="/projects" method="POST" enctype="multipart/form-data">

                                <div class="tab">

                                <div class="d-flex flex-column justify-content-center" id="step1">

                                    <div class="form-group">
                                        <label for="title" class="form-label">Set a title for your project *</label>
                                        <input name="title" type="text" class="form-control mb-4 {{#if errors.title}}is-invalid{{/if}}" placeholder="Project Title" autocomplete="off" autofocus required>
                                         {{#if errors.title}}<div class="invalid-feedback" style="margin-top: -1rem;">{{errors.title}}</div>{{/if}}
                                    </div>

                                    <div class="mb-4 form-group ">
                                        <label for="images" class="form-label">Select a cover *</label>
                                        <input name="images" type="file" class="form-control">
                                    </div>

                                </div>
                                </div>

                                <div class="tab mx-3" id="step-2" style="width: 460px; z-index: 1;">

                                    <div class="mb-4 mx-3 form-group ">
                                        <label class="mb-2" for="description">Description about your project *</label>
                                        <textarea class="form-control rounded mt-4 {{#if errors.description}}is-invalid{{/if}}" id="project" name="description"
                                            placeholder="Project description"></textarea>
                                            {{#if errors.description}}<div class="invalid-feedback">{{errors.description}}</div>{{/if}}
                                    </div>

                                    <div class="mb-4 mx-3 form-group">
                                        <label for="skills" class="form-label ">What you have used to make your project? *</label>
                                        <select name="skills" class="form-select {{#if errors.skills}}is-invalid{{/if}}" size="5" multiple>
                                            <option value="ruby">Ruby</option>
                                            <option value="go">Go</option>
                                            <option value="java">Java</option>
                                             <option value="javascript">JavaScript</option>
                                            <option value="python">Python</option>
                                            <option value="c">C</option>
                                            <option value="c++">C++</option>
                                            <option value="typescript">TypeScript</option>
                                        </select>
                                        {{#if errors.skills}}<div class="invalid-feedback">{{errors.skills}}</div>{{/if}}
                                    </div>

                                </div>

                                <div  style="overflow:auto;">
                                <div style="float:left;" class="my-1">
                                    <button class="btn btn-outline-primary" type="button" id="prevBtn" onclick="nextPrev(-1)" style="margin-left: 2rem; margin-right: 1rem;">Previous</button>
                                    <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                </div>

                                </div>
                                
                                    <button type="submit" class="btn btn-primary" style="display: none;">Create project</button>

                                </form>

                            </div>
                        </div>
                        <div class="col-6 overflow-hidden" id="video">
                            <video playsinline muted loop autoplay style="width: 30rem; height: 27rem;" class="sposition-sticky sticky-top">
                                <source
                                    src="https://assets-global.website-files.com/5bcb46130508ef456a7b2930/5d06154c6a9360b7a49538b6_drawkit-grape-pack-illustration-8-transcode.mp4"
                                    type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<script>
    tinymce.init({
        selector: 'textarea#project',
        height: 350,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen codesample',
            'insertdatetime media table paste code help wordcount textpattern'
        ],
        toolbar: 'undo ' +
            ' | codesample | bold italic | alignleft aligncenter ' +
            'alignright alignjustify | bullist outdent indent | ',
        textpattern_patterns: [
            { start: '*', end: '*', format: 'italic' },
            { start: '**', end: '**', format: 'bold' },
            { start: '#', format: 'h1' },
            { start: '##', format: 'h2' },
            { start: '###', format: 'h3' },
            { start: '####', format: 'h4' },
            { start: '#####', format: 'h5' },
            { start: '######', format: 'h6' },
            { start: '1. ', cmd: 'InsertOrderedList' },
            { start: '* ', cmd: 'InsertUnorderedList' },
            { start: '- ', cmd: 'InsertUnorderedList' }
        ],
        codesample_languages: [
            { text: 'HTML/XML', value: 'markup' },
            { text: "XML", value: "xml" },
            { text: "HTML", value: "html" },
            { text: "mathml", value: "mathml" },
            { text: "SVG", value: "svg" },
            { text: "CSS", value: "css" },
            { text: "Clike", value: "clike" },
            { text: "Javascript", value: "javascript" },
            { text: "ActionScript", value: "actionscript" },
            { text: "apacheconf", value: "apacheconf" },
            { text: "apl", value: "apl" },
            { text: "applescript", value: "applescript" },
            { text: "asciidoc", value: "asciidoc" },
            { text: "aspnet", value: "aspnet" },
            { text: "autoit", value: "autoit" },
            { text: "autohotkey", value: "autohotkey" },
            { text: "bash", value: "bash" },
            { text: "basic", value: "basic" },
            { text: "batch", value: "batch" },
            { text: "c", value: "c" },
            { text: "brainfuck", value: "brainfuck" },
            { text: "bro", value: "bro" },
            { text: "bison", value: "bison" },
            { text: "C#", value: "csharp" },
            { text: "C++", value: "cpp" },
            { text: "CoffeeScript", value: "coffeescript" },
            { text: "ruby", value: "ruby" },
            { text: "d", value: "d" },
            { text: "dart", value: "dart" },
            { text: "diff", value: "diff" },
            { text: "docker", value: "docker" },
            { text: "eiffel", value: "eiffel" },
            { text: "elixir", value: "elixir" },
            { text: "erlang", value: "erlang" },
            { text: "fsharp", value: "fsharp" },
            { text: "fortran", value: "fortran" },
            { text: "git", value: "git" },
            { text: "glsl", value: "glsl" },
            { text: "go", value: "go" },
            { text: "groovy", value: "groovy" },
            { text: "haml", value: "haml" },
            { text: "handlebars", value: "handlebars" },
            { text: "haskell", value: "haskell" },
            { text: "haxe", value: "haxe" },
            { text: "http", value: "http" },
            { text: "icon", value: "icon" },
            { text: "inform7", value: "inform7" },
            { text: "ini", value: "ini" },
            { text: "j", value: "j" },
            { text: "jade", value: "jade" },
            { text: "java", value: "java" },
            { text: "JSON", value: "json" },
            { text: "jsonp", value: "jsonp" },
            { text: "julia", value: "julia" },
            { text: "keyman", value: "keyman" },
            { text: "kotlin", value: "kotlin" },
            { text: "latex", value: "latex" },
            { text: "less", value: "less" },
            { text: "lolcode", value: "lolcode" },
            { text: "lua", value: "lua" },
            { text: "makefile", value: "makefile" },
            { text: "markdown", value: "markdown" },
            { text: "matlab", value: "matlab" },
            { text: "mel", value: "mel" },
            { text: "mizar", value: "mizar" },
            { text: "monkey", value: "monkey" },
            { text: "nasm", value: "nasm" },
            { text: "nginx", value: "nginx" },
            { text: "nim", value: "nim" },
            { text: "nix", value: "nix" },
            { text: "nsis", value: "nsis" },
            { text: "objectivec", value: "objectivec" },
            { text: "ocaml", value: "ocaml" },
            { text: "oz", value: "oz" },
            { text: "parigp", value: "parigp" },
            { text: "parser", value: "parser" },
            { text: "pascal", value: "pascal" },
            { text: "perl", value: "perl" },
            { text: "PHP", value: "php" },
            { text: "processing", value: "processing" },
            { text: "prolog", value: "prolog" },
            { text: "protobuf", value: "protobuf" },
            { text: "puppet", value: "puppet" },
            { text: "pure", value: "pure" },
            { text: "python", value: "python" },
            { text: "q", value: "q" },
            { text: "qore", value: "qore" },
            { text: "r", value: "r" },
            { text: "jsx", value: "jsx" },
            { text: "rest", value: "rest" },
            { text: "rip", value: "rip" },
            { text: "roboconf", value: "roboconf" },
            { text: "crystal", value: "crystal" },
            { text: "rust", value: "rust" },
            { text: "sas", value: "sas" },
            { text: "sass", value: "sass" },
            { text: "scss", value: "scss" },
            { text: "scala", value: "scala" },
            { text: "scheme", value: "scheme" },
            { text: "smalltalk", value: "smalltalk" },
            { text: "smarty", value: "smarty" },
            { text: "SQL", value: "sql" },
            { text: "stylus", value: "stylus" },
            { text: "swift", value: "swift" },
            { text: "tcl", value: "tcl" },
            { text: "textile", value: "textile" },
            { text: "twig", value: "twig" },
            { text: "TypeScript", value: "typescript" },
            { text: "verilog", value: "verilog" },
            { text: "vhdl", value: "vhdl" },
            { text: "wiki", value: "wiki" },
            { text: "YAML", value: "yaml" }
        ],
        codesample_global_prismjs: true
    });
</script>