<script src="https://cdn.tiny.cloud/1/tz1i6w9ceg9fdj6gffn3qptanjx01mzw0pdbp5g0grdv2v0g/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<h2 class="mb-4">Create project</h2>
 <form action="/projects" method="POST" enctype="multipart/form-data">

    <div class="form-group ">
        <label for="title" class="form-label">Title of your project</label>
        <input name="title" type="text" class="form-control mb-4" placeholder="Project Name" >
    </div>

    <div class="mb-4 form-group ">
        <label for="images" class="form-label">Image for your project</label>
        <input name="images" type="file" class="form-control">
    </div>
        
    <div class="mb-4 form-group ">
        <label for="description">Description about your project</label>
        <textarea class="form-control" id="project" name="description" placeholder="Project description"></textarea>
    </div>
    <div class="mb-4 form-group">
        <label for="skills" class="form-label">Your kills</label>
        <select name="skills" class="form-select" multiple>
            <option value="javascript">JavaScript</option>
            <option value="ruby">Ruby</option>
            <option value="go">Go</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="c">C</option>
            <option value="c++">C++</option>
            <option value="typescript">TypeScript</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create project</button>
 
 </form>

<script>
tinymce.init({
  selector: 'textarea#project',
  height: 500,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  toolbar: 'undo redo | formatselect | ' +
  'bold italic backcolor | alignleft aligncenter ' +
  'alignright alignjustify | bullist numlist outdent indent | ' +
  'removeformat | help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
});
</script>