<div class="home fade-in">
  <canvas id="scene"></canvas>
  <input id="copy" type="text" value="DevSite" style="margin-bottom: 25px;" />
  <div class="nav-container fade-in">
    <span class="text-logo scale-up-center"><a href="/developers">Developers</a></span>
    <span class="text-logo-between"><span>&nbsp;&amp;&amp;&nbsp;</span></span>
    <span class="text-logo scale-up-center"><a href="/projects">Projects</a></span>
  </div>
  {{#unless currentUser.name}}
  <div class="mt-0 mb-4 d-flex flex-row" style="z-index: 1;">
    <a class="btn btn-dark mx-2" href="/loginSelection">Sign in</a>
    <a class="btn btn-outline-dark" href="/loginSelection">Sign up</a>
  </div>
  {{/unless}}

  {{!-- <h1 class="home-logo">{<span class="home-logo-text">DevSite</span>}</h1>
  <h3 class="welcome">Developers and Projects</h3> --}}
</div>

<script src="/js/particles.js"></script>
<link rel="stylesheet" href="/styles/particles.css" />