<div class="projects">
	{{#each projects as |project|}}
	<a href="/project/{{project.id}}" class="project-container">
		<div class="project">
			<img src="{{project.images}}" alt="img" class="project-pic">
			<p><strong>{{project.title}}</strong></p>
			<ul class="list-horizontal">
				{{#each project.skills as |skill|}}
				<li>
					<small>{{skill}}</small>
				</li>
				{{/each}}
			</ul>
		</div>
	</a>
	{{/each}}
</div>