body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

footer {
    margin-top: 10rem;
    padding: 20px 0px 0px;
}

/* Profile */

.profile-body {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    max-width: 900px;
    margin-top: 10px;
}

.profile-pic-right {
    min-width: 600px;
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 25px 35px 25px 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    padding: 4px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: beige;
    box-shadow: rgba(107, 148, 189, 0.425) 0px 8px 24px;
}

li:first-child:before {
    content: '';
}

.list-horizontal {
    padding-left: 0px;
}

.list-horizontal li {
    display: inline-block;
}

.list-horizontal li:before {
    content: '\00a0\2022\00a0\00a0';
    color: #999;
    color: rgba(0, 0, 0, 0.4);
    font-size: 11px;
}

.list-horizontal li:first-child:before {
    content: '';
}

sub {
    padding-left: 2px;
    color: rgba(0, 0, 0, 0.4);
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fa-brands {
    font-size: 22px;
    padding: 0px 2px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    margin: 0px 5px;
}

.project-header {
    text-align: center;
    margin: 12px 0px 4px;
}

.profile-header-left {
    display: flex;
    align-items: baseline;
}

hr {
    box-shadow: rgba(107, 148, 189, 0.425) 0px 8px 24px;
}

.user-name {
    margin-right: 10px;
}

.profile-header-left>i {
    margin: 0px 0px 0px 10px;
    font-size: 22px;
}

/* Home */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 900px;
    margin-top: 0px;
}

.welcome {
    margin: 0px 0px 0px;
}

.home-logo {
    text-shadow: rgba(107, 148, 189, 0.411) 0px 8px 24px;
    font-size: 140px;
}

.home-logo-text {
    font-weight: bold;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1200px;
    margin: 0px 0px 30px;
}

.nav-logo {
    width: 80px;
}

.nav-left>ul * {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

.nav-right>ul * {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}


.nav-left>ul {
    padding: 15px 0px 0px;
}

.nav-right>ul {
    padding: 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-user-logo {
    font-size: 38px;
    color: black;
}

/* Footer */

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    margin-bottom: 0px;
}

.footer>ul * {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    padding: 0px;
}

.footer>ul {
    padding: 0px;
}

/* Developers */
.developers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    margin: auto;
    max-width: 1000px;
    max-height: 500px;
    margin-top: 10px;
}

.developer-container {
    text-decoration: none;
}

.developer {
    min-width: 275px;
    padding: 10px;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 175px;
    margin: 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(142, 167, 192, 0.281) 0px 8px 24px;
    text-align: center;
}

.developer-pic {
    width: 85px;
    height: 85px;
    padding: 4px;
    margin: 10px 0px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: beige;
    box-shadow: rgba(107, 148, 189, 0.144) 0px 8px 24px;
}

.developer>button {
    border-radius: 8px;
    border: 1px solid gray;
}

.developers-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.developers-form input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.form-input-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 6px;
}

.form-input-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.developers-form sub {
    margin-bottom: 12px;
}

/* Projects */
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    margin: auto;
    max-width: 1100px;
    max-height: 500px;
    margin-top: 10px;
}

.project-container {
    text-decoration: none;
}

.project {
    min-width: 300px;
    padding: 10px;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.15);
    width: 175px;
    margin: 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(142, 167, 192, 0.281) 0px 8px 24px;
    text-align: center;
}

.project-details {
    min-width: 750px;
    padding: 25px 50px;
    text-align: left;
}

.project-pic {
    width: 190px;
    height: 120px;
    padding: 4px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: beige;
    box-shadow: rgba(107, 148, 189, 0.144) 0px 8px 24px;
}

.project-details-pic {
    margin-bottom: 25px;
}

.project>button {
    border-radius: 8px;
    border: 1px solid gray;
}

.project-details-sub {
    margin-bottom: 12px;
}