body {
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 10rem;
}

/* Profile */

.profile-body {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 900px;
    margin-top: 50px;
}


.profile-pic-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px 35px 25px 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    padding: 4px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: beige;
}

li:first-child:before {
    content: '';
}

.list-horizontal {
    padding-left: 0px;
}

.list-horizontal li {
    display: inline-block;
}

.list-horizontal li:before {
    content: '\00a0\2022\00a0\00a0';
    color: #999;
    color: rgba(0, 0, 0, 0.4);
    font-size: 11px;
}

.list-horizontal li:first-child:before {
    content: '';
}

sub {
    padding-left: 2px;
    color: rgba(0, 0, 0, 0.4);
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fa-brands {
    font-size: 22px;
    padding: 0px 2px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    margin: 0px 5px;
}

.project-header {
    text-align: center;
    margin: 12px 0px 4px;
}

.profile-header-left {
    display: flex;
    align-items: baseline;
}

.user-name {
    margin-right: 10px;
}

.profile-header-left>i {
    margin: 0px 0px 0px 10px;
    font-size: 22px;
}

/* Developers */
.developers {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 900px;
    margin-top: 50px;
}

.developer {
    width: 200px;
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 250px;
    width: 175px;
    margin: 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.developer-pic {
    width: 85px;
    height: 85px;
    padding: 4px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: beige;
}